<html>

<head>
  <%- partial('_partial/head') %>
</head>

<body>
  <%- partial('_partial/header') %>
  <%- partial('_partial/servicos') %>
  <%- partial('_partial/precos') %>
  <%- partial('_partial/footer') %>
  

</body>

  <%- partial('_partial/include-js') %>
</html>