<html>

<head>
  <%- partial('_partial/head') %>
</head>

<body>
  <%- partial('_partial/header') %>
  <%- partial('_partial/home') %>
  <%- partial('_partial/servicos') %>
  <div id="map" class="fh5co-map"></div>

</body>

  <%- partial('_partial/include-js') %>
</html>